.backgroundColor{
    -fx-background-color: linear-gradient(to right,#99FEFF, #94DAFF, #b1a6fc, #B983FF);
    /*-fx-background-color: linear-gradient(#B983FF, #94B3FD, #94DAFF, #99FEFF);*/
}

#instructionBg {
    -fx-background-color: white;
}

#keyPane {
    -fx-background-color: white;
}

#encodePane {
    -fx-background-color: white;
}

#decodePane {
    -fx-background-color: white;
}